#discount {
  padding: 80px 0;
}
#discount .body {
}
#discount .body .card {
  border: none;
}
#discount .body .card .card-body {
  padding-left: 0;
  padding-right: 0;
}
#discount .body .card .card-title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Source Sans 3", sans-serif;
  color: #424242;
  margin-left: 0;
}
#discount .body .card .remainig {
  width: 70%;

  padding: 8px 0;
  font-size: 22px;
  font-weight: bold;
  font-family: "Source Sans 3", sans-serif;
  color: #f17228;
  background-color: rgba(241, 114, 40, 0.203);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
